:root {
    --main-color: rgb(4, 55, 75);
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    margin: 0%;
    color: white;
    min-height: 100vh;
}

.sidebar {
    background-color: var(--main-color);
    /*display: none;*/
    padding: 10px;
}

dialog {
    max-width: 300px;
}

.taskData {
    display: flex;
    gap: 5%;
    color: rebeccapurple;
}
.taskDiv {
    border: 2px solid red;
    color: blue;
}

