:root {
    --main-color: rgb(4, 55, 75);
}
body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    margin: 0%;
    color: white;
}

.sidebar {
    background-color: var(--main-color);
}

.mainContent {
    border: 1px solid var(--main-color);
}

dialog {
    max-width: 300px;
}

.taskData {
    display: flex;
    gap: 5%;
    color: rebeccapurple;
}